*{
  --color-primario: #fff;
  --color-secundario: #fc758c;
  --color-complementario: #ff5672;
  --color-fuente-primario: #fff;
  --color-fuente-secundario: #a8a8a8;
  --tamano-fuente-pequeño: 14px;
  --tamano-fuente-medio: 17px;
  --tamano-fuente-grande: 40px;
  --font-family-primaria: 'Montserrat', sans-serif;
  --font-family-secundaria: 'Questrial', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-primaria);
 

}

.layout{

  display: grid;
  grid-template: 200px 500px 1fr 200px / 1fr ;
  height: 100vh;
  
 

 

}

.layout .header{

  display: flex;
  justify-content: space-between;
  grid-row: span 1;
  grid-column: span 0;
  margin-left: 10%;
  margin-right: 10%;
  




}

.layout .landing{

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  grid-column: span 3;
  grid-row: span 1;
  



 

  
}

.layout .section{

  display: flex;
  
  grid-row: span 1;
  grid-column: span 3;


}
.header__figure{

  width: 50px;
  height: 50px;

}

.header__menu ul{

  display: flex;
}

.header__menu ul li{

  list-style: none;
}

.header__menu ul li a{

  text-decoration: none;
  margin-left: 20px;
}

.landing{

  background-color: var(--color-secundario);
}

.landing__h1{

  font-size: var(--tamano-fuente-grande);
  color: var(--color-primario);

}

.landing__p{

  font-size: var(--tamano-fuente-medio);
  color: var(--color-primario);


}

.landing__a{

  width: 180px;
  height: 10px;
  background-color:  var(--color-primario);
  color: var(--color-secundario);
  text-decoration: none;

  font-size: var(--tamano-fuente-pequeño);
  padding: 20px 20px;
}